/* #root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #282c34;
}

#root > p {
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
} */

form {
	padding: 16px;
}
